.container-cards{
    justify-content: center;
    align-items: center;
    display:flex;
}
.secao-experiencia{
    background-color:black;
    text-align:center;
    justify-content:center;
    margin:40px;
}

.titulo-experiencia{
    border-bottom:2px solid green;
}

.descricao-experiencia-trabalho{
    margin:40px;
}

