.circulo-icone{
    margin:10px;
    width:50px;
    border-radius:50px;
}

.circulo-icone img{
    width:50px;
}

.texto-amarelo{
    color:#feb633;
}

@media (max-width:376px){
    .circulo-icone img{
        width:35px;
    }
}