.componente-banner{
    display:flex;
}

.texto-banner{
    font-weight: bold;
    background-color: #fafbfc;
    margin-left:10px;
    width:50%;
    display:flex;
    flex-direction: column;
    text-align: start;
    justify-content: center;
    border-bottom:200px solid white;
}

.texto-banner h2, p, span{
    color:#022144;
}


.texto-banner h2{
    font-weight:500;
    font-size: 50px;
}

.texto-banner span{
    font-size: 50px;
}

.texto-banner p{
    font-size: 12px;
}


.background-foto-banner{
    width:50%;
    background-color:#252525;
}
.background-dark{
    display:flex;
    background-color:#252525;
}
.background-white{
    display:flex;
    background-color:white;
}

@media (max-width:768px){
    .background-foto-banner{
        display:none;
    }
}

@media (max-width:1024px){
    .texto-banner h2{
    width:280px;
    }
    .texto-banner span{
        width:280px;
    }
        
}
